<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683506438037-bfvb4kdf0kqi3ltgv6vsbekvmki3ssbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683506438037-bfvb4kdf0kqi3ltgv6vsbekvmki3ssbl</string>
	<key>API_KEY</key>
	<string>AIzaSyA7IAKhFToOuOiNlQqoiIxduHTg0gj45jk</string>
	<key>GCM_SENDER_ID</key>
	<string>683506438037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourchat</string>
	<key>PROJECT_ID</key>
	<string>ourchat-49550</string>
	<key>STORAGE_BUCKET</key>
	<string>ourchat-49550.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683506438037:ios:11909ed04faf34d920b09c</string>
</dict>
</plist>